@charset "utf-8";
*{
	padding:0;
	margin:0;
	font-family: sans-serif;
}
body{
	background-color: #F8F8F8;
	text-align: center;
}
header{
	position: relative;
	z-index: 2;
	padding: 15px;
	text-align: center;
	font-size: 3em;
	box-shadow: 0px 1px 5px 3px #BFBFBF;
}
#innhold{
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding-top: 10px;
	position: relative;
	z-index: 1;
	display: inline-block;
	min-height: 80vh;
	min-width: 1200px;
	margin: auto;
	background-color: white;
}
#login{
	margin-top: 15px;
	margin-bottom: 15px;
	box-sizing: border-box;
	border-bottom: 1px solid #CCCCCC;
}
#loginRight form{
	display: inline-block;
}
#loginRight p{
	display: inline-block;
	font-size: 1.2em;
}
#loginLeft{
	width: 50%;
	display: inline-block;
	text-align: left;
}
#loginLeft .red{
	text-align: center;
}
#loginRight{
	width: 50%;
	display: inline-block;
	text-align: right;
}
input,button{
	padding: 1px;
	margin: 5px;
	font-size: 1.2em;
}
#brukernavn,#passord{
	width: 150px;
	margin: 5px;
}
#arkivpakkeSøk{
	width: 300px;
}
#passwordCheck{
	display: inline-block;
	font-size: 1.4em;
}
.green{
	color: #00D500;
}
.red{
	color: #d50000;
}
#gammeltPassord{
	display: inline-block;
}
#nyttPassord{
	display: block;
	margin: auto;
}
#passordSjekk {
	position: absolute;
	font-size: 1.5em;
}
footer{
	text-align: center;
	margin:10px;
}
table{
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}
th{
	padding: 5px;
}
tr{
	border:1px solid black;
}
td{
	border-top: 1px solid black;
	padding: 10px;
}
td:first-child,th:first-child{
	border-right: 1px solid black;
}
tr:nth-child(2n){
	background-color: #DFDFDF;
}
.fil {
	display: inline-block;
	vertical-align: middle;
}
.logg{
	background-color: rgba(100,255,100,0.3); 
}
.endre{
	background-color: rgba(130,130,255,0.3); 
}
.slett{
	background-color: rgba(255, 100, 100, 0.5);
}
.logg:hover{
	background-color: rgba(100,255,100); 
	cursor: pointer;
}
.endre:hover{
	background-color: rgb(130,130,255); 
	cursor: pointer;
}
.slett:hover{
	background-color: rgb(255, 100, 100);
	cursor: pointer;
}